nodered/iot_flow.json
[{"id":"aa7d1dc1.4000b8","type":"debug","z":"bce71909.7d0ac","name":"","active":true,"console":"false","complete":"false","x":550,"y":200,"wires":[]},{"id":"70109c7f.acf91c","type":"function","z":"bce71909.7d0ac","name":"armazena a última temperatura recebida","func":"context.flow.set('temperatura',msg.payload);","outputs":1,"noerr":0,"x":640,"y":260,"wires":[[]]},{"id":"f6c34c89.d72058","type":"http in","z":"bce71909.7d0ac","name":"GET /temperatura","url":"/temperatura","method":"get","upload":false,"swaggerDoc":"","x":345,"y":405,"wires":[["dc0d851d.3054d"]]},{"id":"dc0d851d.3054d","type":"function","z":"bce71909.7d0ac","name":"recupera a temperatura armazenada","func":"msg.payload = context.flow.get('temperatura');\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":681.5,"y":403.75,"wires":[["8cd98487.9aa6c8"]]},{"id":"8cd98487.9aa6c8","type":"http response","z":"bce71909.7d0ac","name":"http response","statusCode":"","headers":{},"x":927,"y":404,"wires":[]},{"id":"facb7cc7.8c6a68","type":"switch","z":"bce71909.7d0ac","name":"Temperature>35","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"35","vt":"num"}],"checkall":"true","outputs":1,"x":560,"y":320,"wires":[["b2b89444.5fabe"]]},{"id":"54352d15.29bf0c","type":"twitter out","z":"bce71909.7d0ac","twitter":"","name":"post to twitter","x":1026,"y":320,"wires":[]},{"id":"b2b89444.5fabe","type":"function","z":"bce71909.7d0ac","name":"define a mensagem do twitter","func":"msg.payload = \"Temperatura passou de  \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":320,"wires":[["54352d15.29bf0c"]]},{"id":"e9d8f083.6b1f7","type":"http in","z":"bce71909.7d0ac","name":"POST /led","url":"led","method":"post","upload":false,"swaggerDoc":"","x":313.5,"y":535.25,"wires":[["8ccc21c6.57fe28","5846ae92.c27d9","6f6d8556.791b04"]]},{"id":"8ccc21c6.57fe28","type":"http response","z":"bce71909.7d0ac","name":"http response","statusCode":"200","headers":{},"x":565.5,"y":593.5,"wires":[]},{"id":"5846ae92.c27d9","type":"debug","z":"bce71909.7d0ac","name":"","active":true,"console":"false","complete":"payload","x":556.5,"y":645.5,"wires":[]},{"id":"3ef9cfdc.d6a068","type":"ibmiot in","z":"bce71909.7d0ac","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"temperatura","commandType":"","format":"text","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":"","allCommands":"","allFormats":true,"qos":0,"x":308.5,"y":259.25,"wires":[["aa7d1dc1.4000b8","70109c7f.acf91c","facb7cc7.8c6a68"]]},{"id":"6f6d8556.791b04","type":"ibmiot out","z":"bce71909.7d0ac","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"device01","deviceType":"dt1","eventCommandType":"led","format":"text","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":551,"y":534,"wires":[]}]