nodered/iot_flow.json
[{"id":"bce71909.7d0ac","type":"tab","label":"IBMIoT-Temperatura","disabled":false,"info":""},{"id":"7820677c.a56f88","type":"ibmiot in","z":"bce71909.7d0ac","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"device01","applicationId":"","deviceType":"+","eventType":"temperatura","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":true,"qos":0,"x":357.5,"y":256.25,"wires":[["aa7d1dc1.4000b8","70109c7f.acf91c","facb7cc7.8c6a68"]]},{"id":"aa7d1dc1.4000b8","type":"debug","z":"bce71909.7d0ac","name":"","active":true,"console":"false","complete":"false","x":550,"y":200,"wires":[]},{"id":"70109c7f.acf91c","type":"function","z":"bce71909.7d0ac","name":"save temperature in the flow context","func":"context.flow.set('temperature',msg.payload);","outputs":1,"noerr":0,"x":630,"y":260,"wires":[[]]},{"id":"f6c34c89.d72058","type":"http in","z":"bce71909.7d0ac","name":"GET /temperature","url":"/temperature","method":"get","upload":false,"swaggerDoc":"","x":392,"y":404,"wires":[["dc0d851d.3054d"]]},{"id":"dc0d851d.3054d","type":"function","z":"bce71909.7d0ac","name":"get temperature from flow context","func":"msg.payload = context.flow.get('temperature');\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":671.5,"y":403.75,"wires":[["8cd98487.9aa6c8"]]},{"id":"8cd98487.9aa6c8","type":"http response","z":"bce71909.7d0ac","name":"http response","statusCode":"","headers":{},"x":927,"y":404,"wires":[]},{"id":"facb7cc7.8c6a68","type":"switch","z":"bce71909.7d0ac","name":"Temperature>35","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"35","vt":"num"}],"checkall":"true","outputs":1,"x":560,"y":320,"wires":[["b2b89444.5fabe"]]},{"id":"54352d15.29bf0c","type":"twitter out","z":"bce71909.7d0ac","twitter":"","name":"post to twitter","x":940,"y":320,"wires":[]},{"id":"b2b89444.5fabe","type":"function","z":"bce71909.7d0ac","name":"set twitter message","func":"msg.payload = \"Temperature reached \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":320,"wires":[["54352d15.29bf0c"]]},{"id":"f21b540f.50cac","type":"ibmiot out","z":"bce71909.7d0ac","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"device01","deviceType":"dt1","eventCommandType":"led","format":"text","data":"msg.playload","qos":0,"name":"IBM IoT","service":"registered","x":593.5,"y":501.5,"wires":[]},{"id":"e9d8f083.6b1f7","type":"http in","z":"bce71909.7d0ac","name":"POST /led","url":"led","method":"post","upload":false,"swaggerDoc":"","x":362.5,"y":501.25,"wires":[["f21b540f.50cac","8ccc21c6.57fe28","5846ae92.c27d9"]]},{"id":"8ccc21c6.57fe28","type":"http response","z":"bce71909.7d0ac","name":"http response","statusCode":"200","headers":{},"x":614.5,"y":559.5,"wires":[]},{"id":"5846ae92.c27d9","type":"debug","z":"bce71909.7d0ac","name":"","active":true,"console":"false","complete":"payload","x":605.5,"y":611.5,"wires":[]}]